<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.putencio.warique">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.putencio.aplicacion.Configuracion"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListadoActivity"></activity>
        <activity android:name=".DetalleActivity"></activity>
        <activity android:name=".ReservarActivity"></activity>
        <activity android:name=".ReservacionActivity"></activity>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="bHDFiIHZAROTzcbP9cIpPR93KFo6Hqhy9HcfP4Ek" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="4QDc597XlEvkJ7uvyaoiiWngYmkxIWI1a1rLWiRD" />
    </application>

</manifest>
